body{
    background: linear-gradient(270deg, #18e3ae, #17ecee, #415356);
    background-size: 600% 600%;

    -webkit-animation: backgroundAnimation 2s ease infinite;
    -moz-animation: backgroundAnimation 2s ease infinite;
    -o-animation: backgroundAnimation 2s ease infinite;
    animation: backgroundAnimation 2s ease infinite;
    background: url(images/ForsenLookingAtYou.png) right top no-repeat fixed;
}

body:hover
{
    cursor: url(images/kirby_cursor_128.png) 90 55, auto;
}

body:hover:active
{
    cursor: url(images/frame4.png) 90 55, auto;
    /* animation: kirbyAnimation 1s ease 1; */
}

:any-link{
    cursor: url(images/kirby_cursor_128.png) 90 55, auto;
}
:any-link:hover {
    cursor: url(images/kirby_cursor_128.png) 90 55, auto;
}
a:-webkit-any-link {
    cursor: url(images/kirby_cursor_128.png) 90 55, auto;
}

/* @keyframes kirbyAnimation {
    0%{cursor: url(images/frame4.png);}
    50%{cursor: url(images/frame5.png);}
    100%{cursor: url(images/frame6.png);}
}

@keyframes kirbyAnimation {
    0%{cursor: url(images/frame4.png);}
    50%{cursor: url(images/frame5.png);}
    100%{cursor: url(images/frame6.png);}
} */

@-webkit-keyframes backgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes backgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes backgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}